.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: $mainBrandColor;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.logo--black {
  color: $blackColor;
}
.logo--white {
  color: $whiteColor;
}
